body {
  margin: 0px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*.teste {
  //background-color: red;
}

.dropdown-toggle > .caret {
  float: right;
  margin-top: 10px
}
.dropdown-menu {
  box-shadow: none;
  border: 2px solid black;
  width: 100%;
  border-radius: 0px;
}


.dropdown-menu > li > a {
  line-height: 40px;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}*/
